.mainnavigation-list {
  list-style: none;
  margin:0;
  padding:0;
  background-color: blue;
  display:flex;
  justify-content: space-between;
}
.main-navigation-item {
  padding-left:20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 1px solid red;
}
.main-navigation-item a {
  text-decoration: none;
  color:#fff;
}
.main-navigation-item a:hover {
  color:#000;
}
